/* Messages in the HomePage */
.message {
  padding: 1rem;
  border-radius: 8px;
  margin-bottom: 2rem;
  text-align: center;
}

.message.success {
  background-color: #dcfce7;
  color: var(--success-color);
}

.message.error {
  background-color: #fee2e2;
  color: var(--error-color);
}

.get-jobs-btn {
  padding: 0.75rem 2rem;
  background-color: #2196f3;
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: 500;
  cursor: pointer;
  transition: opacity 0.2s ease;
}